<div class="container">
  <form (ngSubmit)="onSubmit()" #categoryForm="ngForm" class="edit-form">
    <input type="hidden" name="id" [value]="id()">
    <mat-form-field class="full-width">
      <mat-label>Bezeichnung</mat-label>
      <input matInput
        type="text"
        name="label"
        [ngModel]="label()"
        (ngModelChange)="label.set($event)"
        required="true"
      >
    </mat-form-field>
    
    <mat-form-field class="full-width">
      <mat-label>Standard-Betrag (Optional)</mat-label>
      <div class="flex-input">
        <input matInput
          type="number"
          name="amount"
          [ngModel]="amount()"
          (ngModelChange)="amount.set($event)"
        >
        <span class="currency-inline">{{currency}}</span>
      </div>
    </mat-form-field>
    
    <mat-button-toggle-group class="type-toggle" name="type" [(ngModel)]="typeValue" aria-label="Typ">
      <mat-button-toggle [value]="0">Einnahme</mat-button-toggle>
      <mat-button-toggle [value]="1">Ausgabe</mat-button-toggle>
    </mat-button-toggle-group>
    
    <div class="form-actions">
      <button mat-button (click)="goBack()" type="button">Abbrechen</button>
      <button mat-raised-button color="accent" type="submit">Bearbeiten</button>
    </div>
  </form>
</div>