/* Edit Category component styles */
.container {
  margin-bottom: 20px;
}

.group {
  margin: 20px 0;
}

.flex-input {
  display: flex;
  align-items: center;
}

.flex-input > input {
  flex-grow: 1;
  margin-right: 10px !important;
}

/* Materialize fixes */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}