<div class="container-center">
  <mat-card class="login-card">
    <div class="login-logo">
      <img alt="Mini Kassenbuch" src="/logo.png" />
    </div>
    <mat-card-content>
      <div class="error" *ngIf="firstTime()">
        Willkommen! Es wurde keine Nutzer-Konfiguration gefunden. Die nun erfolgende Eingabe wird für zukünftige Anmeldungen verwendet.
      </div>
      <div class="error" *ngIf="valid() === false">
        Ungültige Zugangsdaten. Falls Sie die Zugangsdaten vergessen haben, können Sie die Datei "data/authentication.json" löschen.
      </div>
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
        <mat-form-field class="full-width">
          <mat-label>Nutzername</mat-label>
          <input matInput name="user" required [(ngModel)]="credentials.user" />
          <mat-error *ngIf="loginForm.submitted && loginForm.controls['user']?.invalid">
            Bitte geben Sie einen Benutzernamen ein.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput type="password" name="password" required [(ngModel)]="credentials.password" />
          <mat-error *ngIf="loginForm.submitted && loginForm.controls['password']?.invalid">
            Bitte geben Sie ein Passwort ein.
          </mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" class="full-width">
          Login
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>