{% include 'menu.html' %}
<script>
	function guessCategory(title){
		const splitted = title.split(' ');
		const categories = document.querySelectorAll('form input[name=category]');
		let matched;
		for(let i=0;i<categories.length;i++){
			if(categories[i].checked){
				return;
			}

			for(let j=0;j<splitted.length;j++){
				if(splitted[j].length > 3) {
					const search = splitted[j].substr(0, Math.round(splitted[j].length * 0.8)).toLowerCase();
					if(categories[i].parentNode.innerText.toLowerCase().indexOf(search) !== -1){
						matched = categories[i];
					}
				}
			}
		}
		if(matched){
			matched.checked = true;
			matched.onchange(matched);
		}
	}
	function loadCategory(cat){
		const amount = cat.getAttribute('data-amount');
		const amountInput = document.querySelector('form input[name=amount]');
		const amountType = document.querySelectorAll('form input[name=type]');
		if(amount && amountInput.value === ''){
			amountInput.value = Math.abs(amount);
			if(amount >= 0){
				amountType[0].checked = true;
			} else {
				amountType[1].checked = true;
			}
		}
		//if()
	}
</script>
<div class="container">
<form action="{{base_url}}delete_document?booking={{id}}" name="document" method="POST">
<input type="hidden" name="id">
</form>

<form action="{{base_url}}save{% if id %}?id={{id}}{% endif %}" name="form" method="POST" enctype="multipart/form-data">
{% if error %}
    <div class="error">{{error}}</div>
{% endif %}
{% if id %}
    <h4>Buchung {{label}} bearbeiten</h4>
{% endif %}
<label>Aktuelles Konto</label>
<input type="text" name="label" value="{{activeAccount.label}}" readonly disabled>
<label>Bezeichnung</label>
<input type="text" name="label" value="{{label}}" onblur="guessCategory(this.value)">
<div class="categories">
	<label>Kategorie</label>
	<div>
	{% for category in categories %}
	<label><input type="radio" name="category"
		 class="filled-in" data-amount="{{category.amount}}" value="{{category.id}}" onchange="loadCategory(this)"
		 id="{{category.id}}" {% if category.active %}checked{% endif %}> <span>{{category.label}}</span></label>	{% endfor %}
	</div>
	{% if categories %}<a class="cancel-selection" onclick="$('[name=\'category\']').prop('checked',false)">Auswahl aufheben</a>{% endif %}
	<div class="notice" style="padding-bottom:20px;">Kategorieren können über den Menüpunkt <a href="{{base_url}}categories">Kategorien</a> angelegt und verwaltet werden</div>
</div>
<label>Datum</label>
<input type="date" name="date" value="{{date}}">
<label>Betrag</label>
<div class="flex-input"><input type="number" name="amount" value="{{amount}}"><div>{{currency}}</div></div>
<div class="group">
<label><input type="radio" id="in" name="type" value="0" {% if type==0 %}checked{% endif %}><span>Einnahme</span></label>
<label><input type="radio" id="out" name="type" value="1" {% if type==1 %}checked{% endif %}><span>Ausgabe</span></label>
</div>
<label>Bemerkungen, Kommentare etc.</label>
<textarea name="notes" class="materialize-textarea">{{notes}}</textarea>

{% if documents %}
<label>Aktuell angeheftete Dokumente</label>
<ul class="collection">
{% for document in documents %}
<li class="collection-item document-list">
	<i class="material-icons">description</i>
	<a href="{{base_url}}document/{{document.id}}-{{document.filename}}" target="_blank">{{document.filename}}</a>
	<i class="clickable material-icons delete" onclick="document.id.value={{document.id}};document.submit()">clear</i>
</li>
{% endfor %}
</ul>
{% endif %}
<div class="group addDocuments">
<label>Belege/Dokumente anheften</label>
<input type="file" name="documents" multiple>
</div>
{% if id %}
<a class="btn-flat" href="{{base_url}}./">Abbrechen & Zurück</a>
{% endif %}
<a class="btn" onclick="form.submit()"{% if readonly %}
disabled
{% endif %}>Speichern</a>
</div>
<div class="navigation">
	{% if previousId %}
	<a class="btn previous" href="{{base_url}}/edit?id={{previousId}}">
		<i class="material-icons">keyboard_arrow_left</i>
	</a>
	{% endif %}
	{% if nextId %}
	<a class="btn next" href="{{base_url}}/edit?id={{nextId}}">
		<i class="material-icons">keyboard_arrow_right</i>
	</a>
	{% endif %}
</div>