{% include 'menu.html' %}

<div class="container">
<form action="{{base_url}}delete_document?booking={{id}}" name="document" method="POST">
<input type="hidden" name="id">
</form>

<form action="{{base_url}}save{% if id %}?id={{id}}{% endif %}" name="form" method="POST" enctype="multipart/form-data">
{% if error %}
    <div class="error">{{error}}</div>
{% endif %}
{% if id %}
    <h4>Buchung {{label}} bearbeiten</h4>
{% endif %}
<label>Aktuelles Konto</label>
<input type="text" name="label" value="{{activeAccount.label}}" readonly disabled>
<label>Bezeichnung</label>
<input type="text" name="label" value="{{label}}">
<div class="categories">
	<label>Kategorie(n)</label>
	<div>
	{% for category in categories %}
	<input type="radio" name="category" class="filled-in" value="{{category.id}}" id="{{category.id}}" {% if category.active %}checked{% endif %}> <label for="{{category.id}}">{{category.label}}</label>
	{% endfor %}
	{% if categories %}<a onclick="$('[name=\'category\']').prop('checked',false)">Auswahl aufheben</a>{% endif %}
	</div>
	<div class="notice" style="padding-bottom:20px;">Kategorieren können über den Menüpunkt <a href="{{base_url}}categories">Kategorien</a> angelegt und verwaltet werden</div>
</div>
<label>Datum</label>
<input type="date" name="date" value="{{date}}">
<label>Betrag</label>
<div class="flex-input"><input type="number" name="amount" value="{{amount}}"><div>{{currency}}</div></div>
<div class="group">
<input type="radio" id="in" name="type" value="0" {% if type==0 %}checked{% endif %}><label for="in">Einnahme</label>
<input type="radio" id="out" name="type" value="1" {% if type==1 %}checked{% endif %}><label for="out">Ausgabe</label>
</div>
<label>Bemerkungen, Kommentare etc.</label>
<textarea name="notes" class="materialize-textarea">{{notes}}</textarea>

{% if documents %}
<label>Aktuell angeheftete Dokumente</label>
<ul class="collection">
{% for document in documents %}
<li class="collection-item"><a href="{{base_url}}document/{{document.id}}-{{document.filename}}" target="_blank">{{document.filename}}</a>
<i class="clickable material-icons" onclick="document.id.value={{document.id}};document.submit()">clear</i>
</li>
{% endfor %}
</ul>
{% endif %}
<div class="group addDocuments">
<label>Belege/Dokumente anheften</label>
<input type="file" name="documents" multiple>
</div>
{% if id %}
<a class="btn-flat" href="{{base_url}}./">Abbrechen</a>
{% endif %}
<a class="btn" onclick="form.submit()">Speichern</a>
</div>