{% include 'menu.html' %}
<style>
.container form >*{
    margin:20px 0;
}
.preview{
    padding:30px;
}
.preview tr:first-child{
    font-weight: bold;
}
</style>
<div class="container">
<form action="{{base_url}}import" name="form" method="POST">
    <h5>Passen Sie die Einstellungen an:</h5>
    <label>Seperator-Zeichen (z.B. ",", ";", " ")</label>
    <input name="seperator" value="{{config.seperator}}">
    <div class="notice" style="padding-bottom:20px;">Die erste Zeile der Datei muss eine Kopfzeile sein. Prüfen Sie die Ergebnisse unten</div>
    <a class="btn" onclick="form.submit()">Vorschau aktualisieren</a>
</form>

<div class="preview">
    <h5>Vorschau</h5>
    <table>
        {% for r in rows %}
        <tr>
            {% for c in r %}
            <td>{{c}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>

<div><a class="btn" href="{{baseurl}}import-mapping">Weiter</a></div>