{% include 'menu.html' %}
<style>
    #preview .invalid {
        text-decoration: line-through;
        opacity: 0.75;
    }
</style>
<script>
    const headers = {
        label: 'Bezeichnung',
        date: 'Datum',
        amount: 'Betrag',
        notes: 'Bemerkungen',
    }
    let csv, response;
    function setFile(file) {
        var reader = new FileReader();
        reader.readAsText(file.files[0], "UTF-8");
        reader.onload = function (evt) {
            csv = evt.target.result;
            updatePreview();
        }
    }
    function getConfig() {
        let mappings = {};
        document.querySelectorAll('#mappings select').forEach((s) => mappings[s.id] = s.value);
        return {
            seperator: document.querySelector('#seperator').value,
            mappings: mappings
        };
    }
    function updatePreview() {
        var request = new XMLHttpRequest();
        const data = {
            csv,
            config: getConfig()
        };
        request.open("POST", "{{base_url}}import-preview");
        request.addEventListener('load', function(event) {
            if (request.status >= 200 && request.status < 300) {
                console.log(request.response);
                response = JSON.parse(request.responseText);
                showResult();
                showMappings();
            }
            }
        );
        request.send(JSON.stringify(data));
    }
    function showResult() {
        let html = '<tr>';  
        Object.keys(headers).forEach((key) => {
            html += '<th>' + headers[key] + '</th>';
        });
        html += '</tr>';
        response.bookings.forEach((b) => {
            html += '<tr class="';
            if(b._invalid) {
                html += 'invalid';
            }
            html += '">';
            Object.keys(headers).forEach((key) => {
             html += '<td>' + b[key === 'date' ? '_date' : key] + '</td>';
            });
            html += '</tr>';
        })
        document.querySelector('#preview').innerHTML = html;
    }
    function showMappings() {
        if(document.querySelectorAll('#mappings select').length > 0) {
            return;
        }
        let html = '';
        if(headers)
        Object.keys(headers).forEach((key) => {
            html += `<div>
                <label>`+ headers[key] + `</label>
                <select id="` + key + `">
                <option></option>`;
            response.headers.forEach((h) => html += `<option>` + h + `</option>`);

            html += `</select>`;
        });
        document.querySelector('#mappings').innerHTML = html;
        $('select').formSelect();
    
    }
</script>
<div class="container">
<form>
    <h5>Bitte wählen Sie eine CSV-Datei (Kommagetrennte Tabellenwerte) aus:</h5>
    <div><input type="file" name="csv" accept=".csv" onchange="setFile(this)"></div>
</form>

<form action="{{base_url}}import" name="form" method="POST">
    <h5>Passen Sie die Einstellungen an:</h5>
    <label>Seperator-Zeichen (z.B. ",", ";", " ")</label>
    <input id="seperator" value="{{config.seperator}};">
    <div id="mappings">
        Mapping-Einstellungen sind nach Auswahl einer CSV verfügbar.
    </div>
    <!--<div class="notice" style="padding-bottom:20px;">Die erste Zeile der Datei muss eine Kopfzeile sein. Prüfen Sie die Ergebnisse unten</div>-->
    <a class="btn" onclick="updatePreview()">Vorschau aktualisieren</a>
</form>

<div class="preview">
    <h5>Vorschau</h5>
    <table id="preview">
        
    </table>

<div><a class="btn" href="{{baseurl}}import-mapping">Weiter</a></div>