{% include 'header.html' %}
  <nav>
    <div class="nav-wrapper">
	 <a href="#" onclick="$('#accounts').fadeIn()" class="brand-logo right">{{activeAccount.label}} <i class="material-icons">keyboard_arrow_down</i></a>
	 <div class="nav-controls left">
	  <a href="{{base_url}}./"><img src="{{base_url}}logo.png" alt="Mini Kassenbuch Logo" class="logo"></a>
      <ul id="nav-mobile">
		<li class="{% if path=='/' %}active{% endif %}"><a href="{{base_url}}./">
			<i class="material-icons">list</i>
			<span class="show-on-large">Liste</span>
		</a></li>
		<li class="{% if 'add' in path %}active{% endif %}"><a href="{{base_url}}add">
			<i class="material-icons">add_circle_outline</i>
			<span class="show-on-large">Buchung</span>
		</a></li>
		<li class="{% if 'reports' in path %}active{% endif %}"><a href="{{base_url}}reports">
			<i class="material-icons">timeline</i>
			<span class="show-on-large">Berichte</span>
		</a></li>
		<li class="{% if 'categories' in path %}active{% endif %}"><a href="{{base_url}}categories">
			<i class="material-icons">view_comfy</i>
			<span class="show-on-large">Kategorien</span>
		</a></li>
		<li><a href="{{base_url}}import">
			<i class="material-icons">cloud_upload</i>
			<span class="show-on-large">Importieren</span>
		</a></li>
		<li class="{% if 'settings' in path %}active{% endif %}"><a href="{{base_url}}settings">
			<i class="material-icons">settings</i>
			<span class="show-on-large">Konfiguration</span>
		</a></li>
	</ul>
	</div>
	</div>
</nav>
<form method="POST" name="account" action="{{base_url}}account">
<input type="hidden" name="id">
</form>
<div class="dialog darken" id="accounts" style="display:none" onclick="$('#accounts').fadeOut()">
<ul class="collection accounts">
	{% for a in accounts %}
		<li onclick="account.id.value={{a.id}};account.submit()" class="clickable collection-item {% if a.id==activeAccount.id %}active{% endif %}">{{a.label}}</li>
	{% endfor %}
</ul>
</div>