{% include 'header.html' %}
  <nav>
    <div class="nav-wrapper">
	 <a href="#" onclick="$('#accounts').fadeIn()" class="brand-logo right">{{activeAccount.label}} <i class="material-icons">keyboard_arrow_down</i></a>
      <ul id="nav-mobile" class="left">
		<li class="{% if path=='/' %}active{% endif %}"><a href="{{base_url}}./">
			<span class="show-on-large">Liste</span>
			<i class="material-icons hide-on-large-only">list</i>
		</a></li>
		<li class="{% if path=='add' %}active{% endif %}"><a href="{{base_url}}add">
			<span class="show-on-large">Buchung anlegen</span>
			<i class="material-icons hide-on-large-only">add_circle_outline</i>
		</a></li>
		<li class="{% if path=='reports' %}active{% endif %}"><a href="{{base_url}}reports">
			<span class="show-on-large">Berichte</span>
			<i class="material-icons hide-on-large-only">timeline</i>
		</a></li>
		<li class="{% if path=='categories' %}active{% endif %}"><a href="{{base_url}}categories">
			<span class="show-on-large">Kategorien</span>
			<i class="material-icons hide-on-large-only">view_comfy</i>
		</a></li>
		<li><a href="{{base_url}}export">
			<span class="show-on-large">Exportieren</span>
			<i class="material-icons hide-on-large-only">cloud_download</i>
		</a></li>
		<li class="{% if path=='settings' %}active{% endif %}"><a href="{{base_url}}settings">
			<span class="show-on-large">Voreinstellungen</span>
			<i class="material-icons hide-on-large-only">settings</i>
		</a></li>
	</ul>
	</div>
</nav>
<form method="POST" name="account" action="{{base_url}}account">
<input type="hidden" name="id">
</form>
<div class="dialog darken" id="accounts" style="display:none" onclick="$('#accounts').fadeOut()">
<ul class="collection accounts">
	{% for a in accounts %}
		<li onclick="account.id.value={{a.id}};account.submit()" class="clickable collection-item {% if a.id==activeAccount.id %}active{% endif %}">{{a.label}}</li>
	{% endfor %}
</ul>
</div>