{% include 'menu.html' %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawYears);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawYears() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Jahr');
        data.addColumn('number', 'Einnahmen {{currency}}');
        data.addColumn('number', 'Ausgaben {{currency}}');
        data.addRows([
          {% for year,y in years %}
			['{{year}}',{{y[0]/100}},{{y[1]/100}}],
		  {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'',
                       'width':700,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('yearly'));
        chart.draw(data, options);
		drawMonths();
		drawTops();
      }
	   function drawMonths() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Monat');
        data.addColumn('number', 'Einnahmen {{currency}}');
        data.addColumn('number', 'Ausgaben {{currency}}');
        data.addRows([
          {% for m in months %}
			['{{m.label}}',{{m[0]/100}},{{m[1]/100}}],
		  {% endfor %}
        ]);

        // Set chart options
        var options = {'title':'',
                       'width':700,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('monthly'));
        chart.draw(data, options);
      }
    </script>
<div class="container">
<div class="report">
<h2>Übersicht Ein-/Ausgaben je Jahr</h2>
<div id="yearly" class="chart"></div>
<table class="striped">
	<thead>
		<th>Jahr</th>
		<th>Einnahmen</th>
		<th>Ausgaben</th>
		<th>Ergebnis</th>
		<th>Start-Saldo</th>
		<th>End-Saldo</th>
	</thead>
	 {% for year,y in years %}
			<tr><td>{{year}}</td><td>{{(y[0]/100)|number_format(2)}} {{currency}}</td><td>{{(y[1]/100)|number_format(2)}} {{currency}}</td><td class="{% if y[0]-y[1]>=0 %}positive{% else %}negative {% endif %}">{{((y[0]-y[1])/100)|number_format(2)}} {{currency}}</td>
			<td>{{(y["saldo"]/100)|number_format(2)}} {{currency}}</td><td>{{((y["saldo"]+(y[0]-y[1]))/100)|number_format(2)}} {{currency}}</td></tr>
     {% endfor %}
</table>
</div>
<div class="report">
<h2>Übersicht Ein-/Ausgaben je Konto&nbsp;{{currentYear}}</h2>
<table class="striped">
	<thead>
		<th>Konto</th>
		<th>Einnahmen</th>
		<th>Ausgaben</th>
		<th>Ergebnis</th>
		<th>Start-Saldo</th>
		<th>End-Saldo</th>
	</thead>
	 {% for y in yearsAccount %}
		<tr><td>{{y.account.label}}</td><td>{{(y.stats[0]/100)|number_format(2)}} {{currency}}</td><td>{{(y.stats[1]/100)|number_format(2)}} {{currency}}</td><td class="{% if y.stats[0]-y.stats[1]>=0 %}positive{% else %}negative {% endif %}">{{((y.stats[0]-y.stats[1])/100)|number_format(2)}} {{currency}}</td>
		<td>{{(y.stats["saldo"]/100)|number_format(2)}} {{currency}}</td><td>{{((y.stats["saldo"]+(y.stats[0]-y.stats[1]))/100)|number_format(2)}} {{currency}}</td></tr>
     {% endfor %}
</table>
</div>
<div class="report" style="page-break-before: always">
<h2>Einnahmen / Ausgaben je Monat&nbsp;{{currentYear}}</h2>
<div id="monthly" class="chart"></div>
</div>
<div class="report">
{% if tops[0] %}
<h2>Top Einnahmen&nbsp;{{currentYear}}</h2>
<table class="striped">
	<thead>
		<th>Bezeichnung</th>
		<th>Betrag</th>
		<th>% von Gesamt</th>
	</thead>
	 {% for top in tops[0] %}
			<tr><td>{{top.label}}</td>
			<td class="positive">{{(top.amount/100)|number_format(2)}} {{currency}}</td>
			<td class="positive">{{((top.amount/yearStats[0])*100) |number_format(1)}} %</td></tr>
     {% endfor %}
</table>
{% endif %}
{% if tops[1] %}
</div>
<div class="report">
<h2>Top Ausgaben&nbsp;{{currentYear}}</h2>
<table class="striped">
	<thead>
		<th>Bezeichnung</th>
		<th>Betrag</th>
		<th>% von Gesamt</th>
	</thead>
	 {% for top in tops[1] %}
			<tr><td>{{top.label}}</td>
			<td class="negative">{{(top.amount/100)|number_format(2)}} {{currency}}</td>
			<td class="negative">{{((top.amount/yearStats[1])*100) |number_format(1)}} %</td></tr>
     {% endfor %}
</table>
{% endif %}
{% if categories[0] %}
</div>
<div class="report">
<h2>Alle Einnahmen&nbsp;{{currentYear}} nach Kategorie</h2>
<table class="striped">
	<thead>
		<th>Kategorie</th>
		<th>Betrag</th>
		<th>% von Gesamt</th>
	</thead>
	 {% for category in categories[0] %}
			<tr><td>{{category.label}}</td>
			<td class="positive">{{(category.amount/100)|number_format(2)}} {{currency}}</td>
			<td class="positive">{{((category.amount/yearStats[0])*100) |number_format(1)}} %</td></tr>
			</tr>
     {% endfor %}
</table>
{% endif %}
{% if categories[1] %}
</div>
<div class="report">
<h2>Alle Ausgaben&nbsp;{{currentYear}} nach Kategorie</h2>
<table class="striped">
	<thead>
		<th>Kategorie</th>
		<th>Betrag</th>
		<th>% von Gesamt</th>
	</thead>
	 {% for category in categories[1] %}
			<tr><td>{{category.label}}</td>
			<td class="negative">{{(category.amount/100)|number_format(2)}} {{currency}}</td>
			<td class="negative">{{((category.amount/yearStats[1])*100) |number_format(1)}} %</td>
			</tr>
     {% endfor %}
</table>
{% endif %}
</div>