{% include 'menu.html' %}

<div class="container">
    <h5>Export/Backup</h5>
    <a class="btn" href="{{base_url}}backup">
        <span>Backup herunterladen</span>
    </a>
    <h5>System-Statistiken</h5>
    <div class="">
        <div>Gesamtzahl Buchungen: {{stats.bookings}}</div>
        <div>Gesamtzahl Dokumente: {{stats.documents}}</div>
        <div>Gesamtgröße Dokumente: {{(stats.documentsSize/1024/1024) | number_format(2) }} MB</div>
        <div>Gesamtgröße Datenbank: {{(stats.databaseSize/1024/1024) | number_format(2) }} MB</div>
    </div>
<form action="{{base_url}}settings" name="form" method="POST" enctype="multipart/form-data">
{% if error %}
    <div class="error">{{error}}</div>
{% endif %}
    <h4>Voreinstellungen</h4>
<label>W&auml;hrungsformat</label>
<input type="text" name="currency" value="{{currency}}">

<a class="btn" onclick="form.submit()">Speichern</a>
</div>