<div class="container">
  <h4>Kategorien verwalten</h4>
  <table class='striped'>
    <thead>
      <th class='label'>Bezeichnung</th>
      <th class='type'>Standard-Typ</th>
      <th class='amount'>Standard-Betrag</th>
      <th class='count'>Anzahl zugewiesener Buchungen</th>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories()">
        <td class='label'>{{category.label}}</td>
        <td class='type'>{{category.amount === 0 ? '-' : category.amount > 0 ? 'Einnahme' : 'Ausgabe'}}</td>
        <td class='amount'>{{(category.amount/100) | number:'1.2-2'}} {{currency}}</td>
        <td class='count'>{{category.count}}</td>
        <td><a [routerLink]="['/edit-category', category.id]"><i class="material-icons">edit</i></a></td>
        <td><a [routerLink]="['/delete-category', category.id]" [class.link-disabled]="readonly()"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>
  <form class="add" (ngSubmit)="onAddCategory()" #categoryForm="ngForm">
    <input
      type="text"
      name="category"
      [ngModel]="newCategoryName()"
      (ngModelChange)="newCategoryName.set($event)"
      placeholder="z.B. Mitgliedsbeiträge"
      required
    >
    <button type="submit" class="btn" [disabled]="readonly()">Anlegen</button>
  </form>
</div>